@font-face {
  font-family: 'AvenirNext-Bold';
  src: url('/fonts/AvenirNext/AvenirNext-Bold.eot');
  src: url('/fonts/AvenirNext/AvenirNext-Bold.woff2') format('woff2'),
       url('/fonts/AvenirNext/AvenirNext-Bold.woff') format('woff'),
       url('/fonts/AvenirNext/AvenirNext-Bold.ttf') format('truetype'),
       url('/fonts/AvenirNext/AvenirNext-Bold.svg#AvenirNext-Bold') format('svg'),
       url('/fonts/AvenirNext/AvenirNext-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNext-Regular';
  src: url('/fonts/AvenirNext/AvenirNext-Regular.eot');
  src: url('/fonts/AvenirNext/AvenirNext-Regular.woff2') format('woff2'),
       url('/fonts/AvenirNext/AvenirNext-Regular.woff') format('woff'),
       url('/fonts/AvenirNext/AvenirNext-Regular.ttf') format('truetype'),
       url('/fonts/AvenirNext/AvenirNext-Regular.svg#AvenirNext-Regular') format('svg'),
       url('/fonts/AvenirNext/AvenirNext-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


.app {
  font-family: "AvenirNext-Regular", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  text-align: center;
}

.app-header {
  background-color: white;
  height: 100px;
  padding: 20px;
}

.app-header a, .search-input, 
.saved-hotels-count, .favorite-hotels, .favorite-hotels a {
  color: #FF3300;
  font-weight: normal;
}

.search-label {
  font-size: 48px;
}

.filters-container {
  padding: 30px;
  margin: 0 50px;
}

.saved-hotels-count {
  float: right;
  font-size: 16px;
}

.search-input {
  width: 90%;
  height: 100px;
  border-width: 0 0 1px 0;
  border-bottom-color: #979797;
  text-align: center;
  font-size: 48px;
}

.search-input:focus {
  outline: none;
}

.remove-favorite {
  /* Rectangle: */
  background: #FFFFFF;
  border: 1px solid #9B9B9B;
  border-radius: 8px;

  /* Remove: */
  font-family: ArialMT;
  font-size: 12px;
  color: #4A4A4A;
  vertical-align: middle;
  margin-left: 30px;
  padding: 5px 10px;
}

.filter-dropdown {
  width: 30%;
  display: flex;
}

.filter-dropdown > div {
  width: 50%;
  display: inline-block;
  text-align: left;
  text-transform: capitalize;
}

.hotel-img {
  opacity: 0.5;
}

.hotel-name {
  position: absolute;
  top: 30%;
  left: 0;
  width: 100%;
  font-size: 36px;
}

.save-to-favorite {
  position: absolute;
  top: 30px;
  width: 100%;
}

.save-to-favorite > svg {
  float: right;
  cursor: pointer;
}

.favorite-hotels {
  text-align: left;
  font-size: 34px;
}

.favorite-hotels li {
  margin: 20px;
}

.filter-by-button {
  text-align: left;
  font-size: 16px;
}

.filter-by-button > svg {
  vertical-align: middle;
  cursor: pointer;
}

.stackable.cards.container {
  margin-top: 30px;
  justify-content: center;
}

.ui.card {
  margin: 2em;
}

.app-logo {
  width: 141px;
  height: 35px;
}
